@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.header{
    background-color: black;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.number{
    overflow: auto; 
}
.column{
    width: 33.33%;
    float: left;
    padding: 0 15px;
}
.row{
    overflow: auto;
    margin: 0 -15px;
}
.logo{
    float: left;
    font-size: 20px;
    padding: 20px 0px 20px 0px ;
    color: white;
}
.logo i{
    font-size: 30px;
    vertical-align: middle;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.list li{  
  font-size: 20px;
}
.text-white{ 
    padding: 20px 30px 20px 30px ;
    color: white;
    float: right;
}
.herosection img{
    width: 100%;
    display: block;
}
.sec-2{
    padding: 100px 0px;
}
.services h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
   padding-bottom: 10px;
}
.services p{
    font-size: 20px;
   /* padding-bottom: 50px;*/
   margin-bottom: 30px;
   font-family: Arial, Helvetica, sans-serif;
}
.services h1{
    text-align: center;
    margin-bottom: 20px;
}
.main img{
    border-radius: 30px;
    width: 100%;
}
.main h3, p{
text-align: center;
}
.main h3{
   margin: 20px 0px;
    font-size: 20px;
}
.heading h2 {
color: white;
text-align: center;
}
.sec-3{
    background-color: black;
    padding: 100px 0px;   
}
.heading h2{
padding: 20px 0px;
font-size: 55px;
font-family: Arial, Helvetica, sans-serif;
}
.heading p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.column-2{
    width: 50%;
    padding: 0px 15px;
    float: left;
    text-align: center;
}
.emage-2 img{
border-radius: 60px;
margin: 70px;
text-align: center;

}
.emage-2 h4{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.emage-2 p{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
.emage-2 a{
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 0;
}
.container{
    width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.performance a{
color: black;
font-weight: bold;
text-decoration: underline;
}
.column-3{
    width: 33.33%;
    padding: 0px 15px;
    float: left;
}
.row-2{
    overflow: auto;
    margin: 0 -15px;
}
.row-3{
    overflow: auto;
    margin: 0 -15px;
}
.sec-4 h5, p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.sec-4 h5{
    font-size: 50px;
    margin-bottom: 20px;
}
.sec-4 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    margin-bottom: 40px;
}
.box{
    text-align: center;
    padding: 20px 0px ;
}
.box i{
    font-size: 80px;
    padding: 50px 0px;
}
.box p{
    margin: 30px 0px ;
    font-size: 20px;
}
.box a{
    text-decoration: underline;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
.box h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.sec-4{
    padding: 100px 0px ;
    background-color: silver;
}


.link a{
     padding: 600px 0px 20px 0px;
  color: rgb(0, 0, 0);
  font-weight:bold;
  text-align: center;
 display: block;
  font-size: 20px;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}
.sec-5{
  
    padding: 100px 0px ;
   background-color: rgb(249, 250, 251);
}
.perfect h1{
    text-align: center;
    margin-bottom:20px ;
    font-size: 40px;
}
.perfect p{
    margin-bottom:50px ;
    font-size: 30px;
    color: grey;
    font-weight: 200;
}
.column-4{
    width: 25%;
    padding: 0px 15px;
    float: left;
    padding-bottom: 50px;
}
.box-1{
    /* padding: 20px; */
    margin-bottom: 50px;
    background-color: white;
    text-align: center;
    border: 1px solid silver;
    border-radius: 5px;
    
}
.box-1 i{
    font-size: 50px;
    padding: 20px 0;
    color: rgb(100, 100, 222);
}
.box-1 p{
    padding-bottom: 20px;
    font-weight:bold;
}
.oper i{
    color:rgb(163, 235, 92);
}